.aboutMeSubHeading {
  color: gold;
  text-align: center;
}

.profilePic {
  max-width: 15rem;
  max-height: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.crownPic {
  position: absolute;
  max-width: 5rem;
  max-height: 5rem;
  right: 43rem;
}

.megamanPic {
  position: absolute;
  max-width: 5rem;
  max-height: 5rem;
}
