body {
  margin: 0;
  padding: 0;
  font-family: 'Gaegu', cursive;
  /*Sticky Footer*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*Sticky Footer*/
main {
  flex: 1 0 auto;
}

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.sectionHeading {
  text-align: center;
}

.page-footer {
  padding-bottom: 20px;
  text-align: center;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #222529 inset !important;
  box-shadow: 0 0 0 50px #222529 inset !important;
  -webkit-text-fill-color: white;
}